.idea
ws/build
ws/install
ws/log
.vscode/
# Byte-compiled / optimized / DLL files
__pycache__/
ws/mpc_control/launch/__pycache__/mpc_node_launch.cpython-310.pyc
ws/mpc_control/mpc_control/__pycache__/node_config.cpython-310.pyc
ws/.vscode/launch.json
